@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Lobster";
    src: url('/fonts/LobsterTwo-Regular.ttf');
}

body {
    overflow-x: hidden;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

:root {
    --chip-golden: #FFC107;
    --chip-spicy: #E53935;
    --chip-green: #4CAF50;
    --chip-brown: #795548;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.bg-golden {
    background-color: #FFC107 !important;
}

.bg-spicy {
    background-color: #E53935 !important;
}

.bg-green {
    background-color: #4CAF50 !important;
}

.bg-brown {
    background-color: #795548 !important;
}

.text-golden {
    color: #FFC107 !important;
}

.text-spicy {
    color: #E53935 !important;
}

.text-green {
    color: #4CAF50 !important;
}

.text-brown {
    color: #795548 !important;
}

.ff-montserrat {
    font-family: "Montserrat";
}

.ff-lobster {
    font-family: "Lobster";
}


.d-align {
    display: flex;
    align-items: center;
}

.chips-button {
    background-color: #4CAF50;
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 6px;
    font-weight: bold;
}


/* --------------------header------------------ */
header {
    position: fixed ;
    top: 0;
    left: 0;
    right: 0;
}
.header-navlink {
    font-size: 18px;
}
.header-contact {
    padding: 7px 30px;
    border-radius: 4px;
}
/* -------------------cta-card---------------------- */
.cta-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url('../assets/images/chips-3.jpg');
    background-size: cover;
    height: 30vh;
    border-radius: 14px;
}

/* ------------home page------------------------ */
.home-hero-inner {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-hero-inner h1 {
    font-size: 120px;
}
.home-hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.home-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    background-color: var(--chip-green);
    padding: 50px 0;
}

.home-cards div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.home-cards div img {
    width: 60px;
}

.home-cards div h1 {
    font-family: 'Lobster';
    font-size: 30px;
    color: white;
}
.home-cta-card {
    padding: 60px 15%;

}

